    <section class="conteudo_Superior">
      <div id="h1">
        <h1>Cadastro</h1>
      </div>
      <form action="/" method="get">
      <div>
        <button id="bnt_Sair">Sair</button>
      </div>
      </form>
    </section>
    <section class="conteudo_meio">
      <form action="/add" class="formulario" method="post">
        <div class="dados_p">
            <h4 id="h4">Dados pessoais</h4>
            <input type="text" name="Nome" id="input_Nome" placeholder="Nome"/>
            <input type="number" name="Documento" id="input_documento" placeholder="Documento"/>
        </div>
        <div class="endereço">
            <div class="endereço_coluna1">
                <input type="number" name="Cep" id="input_cep" placeholder="CEP">
                <input type="text" name="Bairro" id="input_Bairro" placeholder="Bairro">
                <input type="text" name="Referencia" id="input_Referencia" placeholder="Ponto de referência">
            </div>
            <div>
                <h4 id="endereço_titulo">Endereço</h4>
            </div>
            <div class="endereço_coluna2">
                <input type="text" name="Rua" id="input_Rua" placeholder="Rua">
                <input type="number" name="Numero" id="input_numero" placeholder="Número">
                <input type="text" name="Tipo_Coleta" id="input_coleta" placeholder="Tipo de coleta">
        </div>
        </div>
        <div class="login">
            <h4 id="login_titulo">Login</h4>
            <input type="email" name="Email" id="input_Email" placeholder="Email"/>
            <input type="password" name="Senha" id="input_Passowrd" placeholder="Senha" />
        </div>
        <button id="bnt_cadastro">Cadastrar</button>
      </form>
    </section>